#container {width: 90%; margin: 0 auto;}
#header { width: 100%; height: 200px; border-bottom: 3px solid black ; margin-bottom: 20px;}
#user { float: left; width: 15%;}
#catalog { float: left; width: 70%;}
#cart { float: left; width: 15%;}
#footer { float: left; width: 100%; padding-top: 5px; border-top: 3px solid black; margin: 10px 0px;}

#product{float: left; margin: 10px auto; height: 200px;}
#details {white-space: pre-line; font-family: inherit;padding: 5px;}
#pages {float: left; margin: 20px auto; width: 100%;}

/* ====== أزرار الصفحات ====== */
#pages a {
display: inline-block;
margin: 0 5px;
padding: 8px 14px;
background-color: #2575fc; /* لون أساسي */
color: #fff;
border-radius: 8px;
text-decoration: none;
font-weight: bold;
transition: background-color 0.3s, transform 0.2s;
}


#pages a:hover {
background-color: #6a11cb; /* لون عند hover */
transform: scale(1.05); /* تأثير خفيف لتفاعل أجمل */
}